/* The CSS I used for the Login Page */



@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body {
    background-color: #eaeff1;
    font-family: 'Raleway', sans-serif;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 100px;
    text-align: center;
}

#container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 10vh;
    overflow: hidden;
}
.login {
    background-color: white;
    border: 1px solid #bacdd8;
    padding: 8px;
    border-radius: 12px;
    height: 600px;
}
.login-details {
    padding: 16px 8px 8px 8px;
}

/* Links  */
.links {
    text-align: center;
}
.links a {
    text-decoration: none;
    color: #000;
}
    .links a::after {
        content: '';
        width: 0;
        background: #2e3192;
        height: 1px;
        display: block;
        margin: auto;
        transition: 0.5s;
    }

    .links a:hover::after {
        width: 50%;
    }


/* Email field  */
.email-field {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    
}

.email-field input {
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Buttons */
.button-login {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    transition: 0.4s;
}
.button-register {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    font-weight: 600;
    color: #0077ff;
    background-color: #e0efff;
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    cursor: pointer;
    transition: 0.4s;
}
.button-login:focus,
.button-login:hover {
    background-color: #0077ff;
    color: #e0efff;
}
.button-register:focus,
.button-register:hover {
    background-color: #0077ff;
    color: #e0efff;
}
